/***********************
reset
***********************/
:root {
    --header-height: 60px;
    --aside-width: 120px;
    --top-main-height: 120px;
    --aside-color: #01012f;
    --main-color: #c9c7c7;
    --color-bg-top-main: #1966d9;
    --color-bg-bottom-main: #C8C7C7;
    --color-bg-top-p: #1552ad;
}
main li {
    font-size: 14px;
}

/***********************
color
***********************/
body main > aside {
    background-color: var(--aside-color);
}
body main > main {
    background-color: var(--main-color);
}

body main aside li {
    color: white;
}
main main .top-main li span {
    color: white;
    background-color: var(--color-bg-top-p);
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
}
main main .top-main {
    background-color: var(--color-bg-top-main);
}
main main .bottom-main {
    background-color: var(--color-bg-bottom-main);
}
/***********************
general
***********************/
.container {
    height: var(--header-height);
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
    gap: 30px;
}
body > main {
    height: calc(100% - var(--header-height));
}
body main > aside {
    width: var(--aside-width);
}
body main > main {
    width: calc(100% - var(--aside-width));
}
main main .top-main {
    height: var(--top-main-height);
}
main main .bottom-main {
    height: calc(100% - var(--top-main-height));
}
main .screen-none {
    display: none;
}

.left-section {
    width: 70%;
}
.right-section {
    width: 30%;
}
main .bottom-main .left-section p {
    font-size: 12px;
}
main .bottom-main .left-section .col > .row {
    height: 60px;
}
main .bottom-main .left-section .col > .row img {
    height: 10%;
}
/***********************
header
***********************/

/***********************
main
***********************/

/***********************
RESPONSIVE
***********************/
@media screen and (max-width: 768px) {
    body main > main {
        width: 100%;
    }
    body main aside {
        width: 60px;
    }
    header .screen-block {
        display: none;
    }
    main .screen-block {
        display: none;
    }
    main .screen-none {
        display: block;
    }
    .left-section {
        width: 100%;
    }
    .right-section {
        display: none   ;
    }
}