/***********************
reset
***********************/
:root {
    --header-height: 60px;
    --aside-width: 100px;
    --top-main-height: 100px;
    --aside-color: #01012f;
    --main-color: #c9c7c7;
}
li {
    font-size: 14px;
}

/***********************
color
***********************/
body main > aside {
    background-color: var(--aside-color);
}
body main > main {
    background-color: var(--main-color);
}

body main aside li {
    color: white;
}
main main .top-main li {
    color: white;
}
main main .top-main .color-bg-top-main {
    background-color: #1558bc;
}
/***********************
general
***********************/
.container {
    height: var(--header-height);
}
ul {
    list-style: none;
    gap: 30px;
}
body > main {
    height: calc(100vh - var(--header-height));
}
body main > aside {
    width: var(--aside-width);
}
body main > main {
    width: calc(100% - var(--aside-width));
}
main main .top-main {
    height: var(--top-main-height);
}
main main .bottom-main {
    height: calc(100% - var(--top-main-height));
}
main main .top-main .color-bg-top-main {
    border-radius: 10px;
}
main .screen-none {
    display: none;
}
/***********************
header
***********************/

/***********************
main
***********************/

/***********************
RESPONSIVE
***********************/
@media screen and (max-width: 768px) {
    body main > main {
        width: 100%;
    }
    body main aside {
        width: 60px;
    }
    header .screen-block {
        display: none;
    }
    main .screen-block {
        display: none;
    }
    main .screen-none {
        display: block;
    }
}